Write here text.

In [10]:

import pandas as pd

In [14]:
df = pd.read_excel('data/Data_EuroStoxx.xlsx', index_col='Time')
df.head()

,NaN,#ERROR,EURO STOXX 50 - MARKET VALUE,EURO STOXX 50 - DIVIDEND YIELD,EURO STOXX 50 - TOT RETURN IND,EURO STOXX 50 - HISTORICAL VOLATILITY 5 YEARS,EURO STOXX 50 - PRICE INDEX,EURO STOXX 50 - PER,LVMH,LVMH - MARKET VALUE,...,NORDEA BANK (HEL) - HISTORICAL VOLATILITY 5 YEARS,NORDEA BANK (HEL) - PRICE INDEX,NORDEA BANK (HEL) - PER,VOLKSWAGEN PREF. (XET),VOLKSWAGEN PREF. (XET) - MARKET VALUE,VOLKSWAGEN PREF. (XET) - DIVIDEND YIELD,VOLKSWAGEN PREF. (XET) - TOT RETURN IND,VOLKSWAGEN PREF. (XET) - HISTORICAL VOLATILITY 5 YEARS,VOLKSWAGEN PREF. (XET) - PRICE INDEX,VOLKSWAGEN PREF. (XET) - PER
Time,,,,,,,,,,,,,,,,,,,,,
1988-02-27,NaN,"$$ER: E100,INVALID CODE OR EXPRESSION ENTERED",NaN,NaN,NaN,0.2642,705.06,NaN,7.3124,2976.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988-03-27,NaN,NaN,NaN,NaN,NaN,0.2567,719.87,NaN,7.4734,3041.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988-04-27,NaN,NaN,NaN,NaN,NaN,0.2480,714.72,NaN,7.7088,3137.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988-05-27,NaN,NaN,NaN,NaN,NaN,0.2404,696.04,NaN,8.8360,3596.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988-06-27,NaN,NaN,NaN,NaN,NaN,0.2486,762.99,NaN,10.1861,4145.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN